<!DOCTYPE html>
{%load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "profileapp/style.css" %}">
  </head>
  <body>
    <div class="container">

<!-- first row -->
    <div class="firstrow">
      <div class="firstleft">
        <img  src="{% static "profileapp/back.jpg" %}" alt="Card image" ><hr class='m-3'>
            <h4>Hi I'm Anusha</h4>
            <p>I love coding,designing collabrating</p>
      </div>

      <div class="firstright">
        <h3>My first job as a developer</h3><hr>
        <p >	Developed complete E2E UI screens for User Management System and calling the REST API using Oracle JET (Angular+ knock out JS).
Developing a new screen for Mobile Top up and post-paid for the bank users using Angular JS and JAVA.
Developing REST API according to the product framework to fetch user names and the amount for backend transactions.
Have done complete Android & iOS setup for Banking mobile Application.

</p>
        <div class="icons pb:0">
          <i style='font-size:24px' class='fab'>&#xf082;</i>
          <i style='font-size:24px' class='fab'>&#xf08c;</i>
          <i style='font-size:24px' class='fab'>&#xf081;</i>
          <i style='font-size:24px' class='fab'>&#xf431;</i>

        </div>

      </div>

</div>

    <!-- second row -->
    <div class="firstrow">
      <div class="secondleft">
        <h4>My Experience as a developer</h4><hr>
        <p>Consultant and UI Developer at JMR infotech</p>
        <ul>
          <li>Client: Aman Bank (Tunisia)</li>
            <li>Client: Bank of South Pacific(BSP)</li>
        </ul>



      </div>
      <div class="secondright">
        <h4>What I Know</h4><hr>
      <ul>
        <li>Hands on experience in developing the UI screens using Front End Technologies such as Java Script,  HTML5, CSS, SASS, AJAX, Bootstrap, Angular, Knockout JS and Require JS.</li>
        <li>	Experience with source control software such as GIT</li>
        <li>	Grunt Accessibility and security Test and automation</li>
        <li>Proficient knowledge in Java, Spring (MVC/IOC) and Hibernate.</li>
      </ul>


      </div>

    </div>
<!-- third -->
<div class="firstrow">
  <div class="secondleft">
    <h4>How I learn</h4><hr>
    <ul>
      <li>Tutorials</li>
      <li>Research</li>
      <li>Youtube</li>
      <li>Institute</li>
    </ul>


  </div>
  <div class="secondright">
    <h4>My short term goals</h4><hr>
    <ul>


  <li>	Very good understanding of OOPS concepts and Rest Webservices.</li>
<li>	Good knowledge in Database concepts and hands on experience in Oracle and MySQL.</li>
<li>	Excellent understanding of Banking Domain and its use cases.</li>
<li>	Experience in setting up Banking Mobile Applications using Android &iOS</li>
<li>Ability to work as an independent to accomplish goals/assignments and an excellent team player</li>

</ul>
  </div>

</div>





      </div>
  </body>
</html>
